{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "next/core-web-vitals"
  ],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "off"
  }
}
