@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    @apply text-1;
  }

  body {
    @apply w-screen min-h-screen bg-app-light overflow-x-hidden
  }
}

@layer components {

  /* ----------------- Containers ----------------- */
  .full {
    @apply w-full h-full
  }

  .main {
    @apply full app-max-w flex flex-col items-start relative
  }

  .layer {
    @apply absolute top-0 left-0
  }

  .center {
    @apply flex justify-center items-center
  }

  .stack {
    @apply flex flex-col
  }

  .see {
    @apply border-2 border-app-red
  }

  .app-header {
    @apply bg-app--light fixed left-1/2 -translate-x-1/2
    flex justify-between items-center app-max-w z-50 p-4
    duration-300 shadow-sm md:my-2 md:rounded-full md:px-6;
  }

  .app-max-w {
    @apply w-full md:max-w-[1000px] xl:max-w-[1400px] mx-auto
  }

  .app-max-w-element {
    @apply w-full max-w-[800px]
  } 
  /* ---------------------------------------------- */

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  .app-page {
    @apply bg-app--light relative w-screen flex flex-col;
  }
  .app-container {
    max-width: 700px;
    min-height: 100%;
    margin: auto;
  }
  .app-page-container {
    background-color: theme("colors.green.100");
    min-height: 100vh;
    margin: auto;
  }
  .footer {
    padding-top: 20;
  }
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  /* Inputs */
  .app-input {
    @apply bg-transparent w-full h-full rounded-lg p-6 z-0 duration-300
    placeholder:opacity-50 placeholder:text-app-dark border-none shadow-md
    ring-2 ring-app-shadow focus:ring-app-primary focus:ring-4;
  }

  /* Links */
  .app-link {
    @apply text-app-dark duration-200 capitalize cursor-pointer center gap-2
    hover:underline hover:opacity-100 opacity-60;
  }

  /* Buttons */
  .app-btn {
    @apply bg-app-primary text-app--primary fill-app--primary stroke-app--primary
    center rounded-full gap-2 py-2 px-3 duration-300 capitalize cursor-pointer outline-none
    ring-2 ring-transparent hover:ring-app--primary whitespace-nowrap w-fit shadow-sm;
  }

  .app-btn-green {
    @apply bg-app-primary text-app--primary fill-app--primary stroke-app--primary
    center rounded-full gap-2 py-2 px-3 duration-300 capitalize cursor-pointer outline-none
    ring-2 ring-transparent hover:ring-app--primary whitespace-nowrap w-fit shadow-sm;
  }

  .app-btn-yellow {
    @apply bg-app-yellow text-app--yellow fill-app--yellow stroke-app--yellow
    center rounded-full gap-2 py-2 px-3 duration-300 capitalize cursor-pointer outline-none
    ring-2 ring-transparent hover:ring-app--yellow whitespace-nowrap w-fit shadow-sm;
  }

  .app-btn-red {
    @apply bg-app-red text-app--red fill-app--red stroke-app--red
    center rounded-full gap-2 py-2 px-3 duration-300 capitalize cursor-pointer outline-none
    ring-2 ring-transparent hover:ring-app--red whitespace-nowrap w-fit shadow-sm;
  }

  .app-btn-blue {
    @apply bg-app-blue text-app--blue fill-app--blue stroke-app--blue
    center rounded-full gap-2 py-2 px-3 duration-300 capitalize cursor-pointer outline-none
    ring-2 ring-transparent hover:ring-app--blue whitespace-nowrap w-fit shadow-sm;
  }

  .app-btn-disabled {
    @apply opacity-50 ring-transparent cursor-none;
  }

  /* Sparkle */

  .sparkle-image {
    position: relative;
  }
  .sparkle-image::before,
  .sparkle-image::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    animation: sparkle 2s linear infinite;
  }

  .sparkle-image::before {
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
  }

  .sparkle-image::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
  }
}

@layer utilities {

    /* Text sizing */
    .text-1 {
      @apply text-sm;
    }
  
    .text-2 {
      @apply text-lg;
    }
  
    .text-3 {
      @apply text-2xl;
    }
  
    .title {
      @apply font-black;
    }


  /* Custom Animtions */
  .animate-leftright {
    animation: k-leftright 0.5s;
  }

  @keyframes k-leftright {
    0% {
      transform: translate(-100%);
    }

    100% {
      transform: translate(0%);
    }
  }

  .animate-rightleft {
    animation: k-rightleft 0.5s;
  }

  @keyframes k-rightleft {
    0% {
      transform: translate(100%);
    }

    100% {
      transform: translate(0%);
    }
  }

  .animate-topdown {
    animation: k-topdown 0.5s;
  }

  @keyframes k-topdown {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .animate-downtop {
    animation: k-downtop 0.5s;
  }

  @keyframes k-downtop {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .rotate-animation {
    animation: rotate 2s linear infinite; /* Adjust the duration (5s) as needed */
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(45deg);
    }
    50% {
      transform: rotateY(-45deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

  .animate-appear {
    animation: kfs-appear .5s ease-in-out;
  }

  @keyframes kfs-appear {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
  }

  @keyframes sparkle {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
}
